
body
{
    background-color: dimgray;
    
}
.header{
    width:100%;
    height:200px;
   top:0;
   left:0;
    text-align: center;
    background-color: aqua;
    background-image: url("billy.jpg");
    background-position:center bottom;
    position: fixed;
    z-index: 1;
}
.headerShadow
{
    position: fixed;
    height:5px;
    width:100%;
    left:0;
    top:200px;
    background-color: black;
    opacity: 50%;
    z-index: 1;

}
.mainBody
{
    position: absolute;

    text-align: center;
    left:0;
    width:100%;
    height:99vh;
    min-height: 800px;
    z-index:-1;
    background-image: url("gachi.png");
    background-position: center top;
    background-color: red;
}
.headerImage
{
    width:0px;
   
    
}

.playButtonStyle
{
    
  
    
    position: absolute;
    margin-top: 240px;
    
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    
}
.centeredText
{
    position: relative;
    
    
    
    font-family: VAG WORLD;
    font-size: 50px;
    color:aqua;
}
.sexyPanel
{
    position: absolute;

    height:400px;
   
    width:100%;
    left:0;
    z-index: 0;
    text-align: left;
    
    background-color: black;
}
.sexyPanelRed
{
    background-color:red;
}

.sexyPanelTextBox
{
    position: relative;
    
   
    
    width:600px;
    height: 200px;
    top:20px;
    
    font-family: VAG WORLD;
    font-size: 30px;
    color:white;
}
.sexyPanelIMG
{
    position: absolute;
    
   
    
    width:300px;
    height: 300px;
    top:20px;
    right:0; 
  bottom: 0;
   background-image: url("billy2.jpg");
    background-color: thistle;
}

.sexySideBar
{
    position:fixed;
    text-align: left;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    width:0px;
    height:600px;
    left:0;
    top:205px;
    background-color:gray;
    z-index:5;
    font-family: VAG WORLD;
    font-size: 20px;
}
.sexySideBar-slide
{
   animation-name:slidein;
   animation-duration: 0.5s;
}
.sexySideBar-slideout
{
   animation-name:slideout;

   animation-duration: 0.5s;
}
@keyframes slidein{
    from{
        width:0px;
    }
    to{
        width:200px;
    }
}
@keyframes slideout{
    from{
        width:200px;
    }
    to{
        width:0px;
    }
}
.sexySideBar-active
{
    position:fixed;
    width:200px;
    height:600px;
    left:0;
    top:205px;
    background-color:gray;
    z-index:5;
}
.sexyButtonSidebar
{
    background:none;
    background-image: url("sidebarlogo.png");
  
    background-size:cover;
    background-position:50% 50%;
    background-repeat: no-repeat;
    position:fixed;
    top:60px;
    left:20px;
    width:100px;
    height: 100px;

}
.sexyButtonSidebar-active
{

    background-image: url("sidebarlogo-active.png");

}
.sexyInteractiveText
{
    cursor:pointer;
}
.sexyInteractiveText:hover
{
    color:white;
}

.sexyMusicList
{
    position: absolute;
    font-family: VAG WORLD;
    font-size: 20px;
    
}
.sexyMusicList select
{
    display: none;
}
.custom-select-wrapper{
    position: absolute;
    bottom: 0;
    
    right: 0;
   
    user-select:none;
    width:100%;
    max-width: 400px;
}
.custom-select{
    position: relative;
    display:flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #9c3a3a;

}
.custom-select__trigger{
    position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 22px;
     font-size: 20px;
     font-weight: 300;
     color: #3b3b3b;
     height: 60px;
     line-height: 60px;
     background: #ffffff;
     cursor: pointer;
     border-width: 2px 0 2px 0;
     border-style: solid;
     border-color: #9c3a3a;

}
.custom-options{
    position: absolute;
     display: block;
     top: 100%;
     left: 0;
     right: 0;
     border: 2px solid #9c3a3a;
     border-top: 0;
     background: #fff;
     transition: all 0.5s;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     z-index: 2;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
    
}
.custom-option.selected {
    color: #ffffff;
    background-color: #9c3a3a;
}

.arrow{
    position: relative;
    height:15px;
    width:15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
